module.exports = {
    token: 'token',
    ownerid: 12345,
    chatId: 12345,
    dbConn: {
        client: 'pg',
        debug: false,
        connection: {
            host: 'host',
            port: '5432',
            user: 'user',
            password: 'password',
            database: 'db'
        }
    }
}
